@model IEnumerable<PracticaMVC.Models.Pago>

@{
    ViewData["Title"] = "Listado de pagos";
    var Contratos = (IList<Contrato>) ViewBag.Contratos;
}

<h1>Listado de pagos</h1>

@if(User.IsInRole("Administrador"))
{
    <p>
        <a asp-action="Create">Pagar un contrato</a>
    </p>
}
<ul class="d-flex">
    <li  class="bg-dark rounded">
        <a asp-controller="Pago" asp-action="Index" class="btn btn-danger">Eliminar Filtros</a>
    </li>
    <li  class="bg-dark rounded">
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#ModalContrato">
          Listado de pagos contrato
        </button>
    </li>  
</ul>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Importe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContratoId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaPago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Importe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContratoId)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Detalles", "Details", new { id=item.Id }) |
                @Html.ActionLink("Eliminar", "Delete", new { id=item.Id }) |
                @Html.ActionLink("Cargar Pago", "Pagar", new { id = item.ContratoId})
            </td>
        </tr>
}
    </tbody>
</table>


<div class="modal fade" id="ModalContrato" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Asignar Contrato</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body d-flex justify-content-center align-items-center">
        <table>
            <tr>
                <th class="text-center"> ID </th>
                <th class="text-center">Fecha de inicio</th>
                <th class="text-center">Fecha de finalizacion</th>
                <th class="text-center">Precio</th>
            </tr>
            @foreach (var item in Contratos)
            {
                <tr>
                    <td> @item.Id </td>
                   <td> @item.fechaInicio </td>
                   <td> @item.fechaFinalizacion </td>
                   <td> @item.Precio </td>
                   <td class="bg-info"><a href='/Pago/IndexPorContrato/@item.Id'class="btn btn-info fa fa-plus fa-contrato"> </td>
                </tr>
            }
        </table>    
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

