@model PracticaMVC.Models.Contrato

@{
    ViewData["Title"] = "Renovar";
}

<h1>Renovar</h1>

<h4></h4>Contrato</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Renovar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" id="inquilino-container" >
                <label class="control-label">Dueño</label>
                <div class="btn-light form-control bg-info">
                    <span> @Model.Inquilino.Nombre  @Model.Inquilino.Apellido</span>
                </div>
                <input type="hidden" name="InquilinoId" class="form-control inquilino-input" id="InquilinoId" value="@Model.InquilinoId" style="display: inline;"/>
                <span asp-validation-for="InquilinoId" class="text-danger"></span>
            </div>
            <div class="form-group" id="inmueble-container">
                <label class="control-label">Direccion</label> <br>
                <div  class="btn-light form-control bg-info">
                    <span> @Model.Inmueble.Direccion </span>
                </div>
                <input type="hidden" asp-for="InmuebleId" class="form-control inquilino-input" id="InmuebleId" value="@Model.InmuebleId" />
                <span asp-validation-for="InmuebleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fechaInicio" class="control-label"></label>
                <input asp-for="fechaInicio" class="form-control" />
                <span asp-validation-for="fechaInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fechaFinalizacion" class="control-label"></label>
                <input asp-for="fechaFinalizacion" class="form-control" />
                <span asp-validation-for="fechaFinalizacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Precio" class="control-label"></label>
                <input asp-for="Precio" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Renovar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver al listado</a>
</div>




