@model PracticaMVC.Models.Usuario

@{
    ViewData["Title"] = "Detalles del usuarior";
}

<h1>Detalles del usuarior</h1>
<h4 class="text-center">Usuario</h4>
<div class="d-flex justify-content-around">
    
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Apellido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreUsuario)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.NombreUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rol)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.RolNombre)
        </dd>
    </dl>
    <div class="col-sm-4 d-flex flex-column">
        <h1 class="text-center">@Html.DisplayNameFor(model => model.Avatar)</h1>
        <img class="rounded" src="@Model.Avatar" alt="">
    </div>
</div>
<div>
    @Html.ActionLink("Editar", "Edit", new {  id = Model.Id }) |
    <a asp-action="Index">Volver al listado</a>
</div>
